<%= form_for(@documento , :html => { :multipart => true }) do |f| %>
  <% if @documento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documento.errors.count, "error") %> provocaron que no se pudiera guardar el documento:</h2>

      <ul>
      <% @documento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div id="csv_file">
    <%= f.file_field :csv_file %>
  </div>
  
  <div id="csv_file_filtro">
  <%=  select_tag "filtro", 
         options_for_select([['CANTV', 'cantv'], 
                            ['PDVSA', 'pdvsa'],
                            ['FANB', 'fanb'],
                            ['FANB Armada', 'armada']]) %> 
  </div>


  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
