<p id="notice"><%= notice %></p>
<p id="status" style="{display:none}"><%= flash[:estado] %></p>

<%= form_tag(@documento, method: :get, id: :filtro) do -%>
  <%=  select_tag "filtro", 
         options_for_select([['CANTV', 'cantv'], 
                            ['PDVSA', 'pdvsa'],
                            ['FANB', 'fanb'],
                            ['FANB Armada', 'armada']]) %> 
  <%= submit_tag 'Filtrar' %>
<% end -%>

<%= link_to 'Atrás', documentos_path %>
<%= link_to "Descargar", @documento.csv_file.url %>
