<p id="notice"><%= notice %></p>
<p id="status" style="{display:none}"><%= flash[:estado] %></p>

<%= link_to 'Atrás', documentos_path %>
<%= link_to "Original", @documento.csv_file.url %>
<%= link_to "Filtrado para CANTV", @documento.csv_file.url(:cantv) %>
